@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000b23;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-manifold);
  --font-mono: var(--font-geist-mono);
  --font-scriptorama: var(--font-scriptorama);
  --font-manifold: var(--font-manifold);

  /* 64BACE,000719,00284B,000B23,00091E */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000b23;
    --foreground: #64bace;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manifold), Arial, Helvetica, sans-serif;
  --sb-track-color: #000719;
  --sb-thumb-color: #64bace;
  --sb-size: 5px;
}
body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 4px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(calc(100vw + 100%));
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(calc(100vw + 100%));
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide-right {
  animation: slide-right linear infinite;
  will-change: transform;
}

.animate-slide-left {
  animation: slide-left linear infinite;
  will-change: transform;
}

.bg-gradient-radial {
  background: radial-gradient(circle, var(--tw-gradient-stops));
}

@keyframes borderPulse {
  0%,
  100% {
    border-color: rgba(255, 255, 255, 0.1);
  }
  50% {
    border-color: rgba(100, 186, 206, 0.2);
  }
}
